<nav class="nav">
    <ul>
        <li>
            <a [routerLink]="['/profile', id]" routerLinkActive="active_link">Profile</a>
        </li>
        <li>
            <a [routerLink]="['/news']" routerLinkActive="active_link">News</a>
        </li>
        <li>
            <a [routerLink]="['/dialogs']" routerLinkActive="active_link">Messages</a>
        </li>
        <li>
            <a [routerLink]="['/people']" routerLinkActive="active_link">People</a>
        </li>
        <li>
            <a [routerLink]="['/friends']" routerLinkActive="active_link">Friends</a>
        </li>
        <li>
            <a [routerLink]="['/music']" routerLinkActive="active_link">Music</a>
        </li>
        <li>
            <a [routerLink]="['/settings']" routerLinkActive="active_link">Settings</a>
        </li>
    </ul>
</nav>
