table {
    background: yellow;
    color: black;
    border-bottom: 2px solid black;
}

header {
    color: rgb(251, 255, 0);
    background: black;
    font-size: 1.5em;
}

footer {
    color: red;
    background: black;
    font-size: 1.5em;
}
H1     {background-color: #ff0000;
}
B.qaz {
       margin-left: 30px;
}
