header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    margin-bottom: 20px;
    background: var(--primary-color);

    img {
        width: 30px;
    }
}

.header_container {
    max-width: 1200px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;

    img {
        width: 30px;
    }
}

.header_buttons {
    display: flex;
    align-items: center;
}

.header_ava {
    width: 30px;
    border-radius: 50%;
}

.header_welcome {
    margin-left: 20px;
    color: white;
}
