.profile_info {
    margin: 1rem auto;
    width: 80%;
}

.profile_main {
    display: flex;
}

.profile_ava_block {
    width: 30%;
}

.profile_ava {
    width: 150px;
    height: 150px;
}

.profile_username {
    width: 70%;
}
